# Next.js / Node
frontend/node_modules/
frontend/.next/

# Python
backend/__pycache__/
__pycache__/
*.py[cod]
*.pyc
backend/venv/
backend/venvcls/


.env

# Massive Data & Databases
backend/data/
backend/database/

backend/temp_lk_legal_docs/"__pycache__/" 
"__pycache__/" 
