# next, node
frontend/node_modules/
frontend/.next/

# python
backend/__pycache__/
__pycache__/
*.py[cod]
*.pyc
backend/venv/
backend/venvcls/

# env var
.env

# venv
.env/
env/
venv/
.venv/

# conda
etc/

# temp, backup
tmp/
temp/
*.tmp
*.bak
*~
*.swp
*.swo

# data, db
backend/data/
backend/database/
backend/storage/

backend/temp_lk_legal_docs/"__pycache__/" 
"__pycache__/" 